.card {
  max-width: 413px;
}
.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}
.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__like-btn {
  background-image: url(../images/Union.svg);
  margin: 12px 0 0;
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
}
.card__like-btn:hover {
  cursor: url(../images/cursor.svg), auto;
  opacity: 1;
}
.card__title {
  color: rgba(33, 33, 33, 1);
  font-weight: 500;
  line-height: 1.2;
  margin: 12px 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }
  .card__title {
    font-size: 1em;
    line-height: 1;
  }
}
